<form>
  <div ngClass="subjecttable-wrapper">
    <table class="centered">
      <thead>
      <tr>
        <th style="width: 25%" class="thick-border-right">Fach</th>
        <th style="width: 10%">EF.1</th>
        <th style="width: 10%" class="thick-border-right">EF.2</th>
        <th style="width: 10%">Q1.1</th>
        <th style="width: 10%">Q1.2</th>
        <th style="width: 10%">Q2.1</th>
        <th style="width: 10%" class="thick-border-right">Q2.2</th>
        <th>Abifächer</th>
      </tr>
      </thead>

      <tbody>
        <tr *ngFor="let schuelerFach of lupoService.abpDatabase.ABP_SchuelerFaecher; let i = index" [attr.data-index]="i">
          <td class="thick-border-right">{{schuelerFach.Fach.Bezeichnung}}</td>
          <td>
            <select [(ngModel)]="schuelerFach.Kursart_E1" class="browser-default" (change)="onChange(schuelerFach, 'Kursart_E1', $event)" [disabled]="schuelerFach.Fach.E1 !== 'J'" name="kursart-e1-{{schuelerFach.ID}}">
              <option value="" selected></option>
              <option value="M">M</option>
              <option value="S">S</option>
            </select>
          </td>
          <td class="thick-border-right">
            <select [(ngModel)]="schuelerFach.Kursart_E2" class="browser-default" (change)="onChange(schuelerFach, 'Kursart_E2', $event)" [disabled]="schuelerFach.Fach.E2 !== 'J'" name="kursart-e2-{{schuelerFach.ID}}">
              <option value="" selected></option>
              <option value="M">M</option>
              <option value="S">S</option>
            </select>
          </td>
          <td>
            <select [(ngModel)]="schuelerFach.Kursart_Q1" class="browser-default" (change)="onChange(schuelerFach, 'Kursart_Q1', $event)" [disabled]="schuelerFach.Fach.Q1 !== 'J'"name="kursart-q1-{{schuelerFach.ID}}">
              <option value="" selected></option>
              <option value="M">M</option>
              <option value="S">S</option>
              <option value="LK" *ngIf="schuelerFach.Fach.LK_Moegl === 'J'">LK</option>
            </select>
          </td>
          <td>
            <select [(ngModel)]="schuelerFach.Kursart_Q2" class="browser-default" (change)="onChange(schuelerFach, 'Kursart_Q2', $event)" [disabled]="schuelerFach.Fach.Q2 !== 'J'" name="kursart-q2-{{schuelerFach.ID}}">
              <option value="" selected></option>
              <option value="M">M</option>
              <option value="S">S</option>
              <option value="LK" *ngIf="schuelerFach.Fach.LK_Moegl === 'J'">LK</option>
            </select>
          </td>
          <td>
            <select [(ngModel)]="schuelerFach.Kursart_Q3" class="browser-default" (change)="onChange(schuelerFach, 'Kursart_Q3', $event)" [disabled]="schuelerFach.Fach.Q3 !== 'J'" name="kursart-q3-{{schuelerFach.ID}}">
              <option value="" selected></option>
              <option value="M">M</option>
              <option value="S">S</option>
              <option value="LK" *ngIf="schuelerFach.Fach.LK_Moegl === 'J'">LK</option>
            </select>
          </td>
          <td class="thick-border-right">
            <select [(ngModel)]="schuelerFach.Kursart_Q4" class="browser-default" (change)="onChange(schuelerFach, 'Kursart_Q4', $event)" [disabled]="schuelerFach.Fach.Q4 !== 'J'" name="kursart-q4-{{schuelerFach.ID}}">
              <option value="" selected></option>
              <option value="M">M</option>
              <option value="S">S</option>
              <option value="LK" *ngIf="schuelerFach.Fach.LK_Moegl === 'J'">LK</option>
            </select>
          </td>
          <td>
            <select [(ngModel)]="schuelerFach.AbiturFach" class="browser-default" (change)="onChange(schuelerFach, 'AbiturFach', $event)"[disabled]="schuelerFach.Fach.Abi_Moegl !== 'J'" name="abifach-{{schuelerFach.ID}}">
              <option value="" selected></option>
              <!-- <option value="1" *ngIf="this.abiFachBesetzt[0].isset">1</option>
              <option value="2" *ngIf="this.abiFachBesetzt[1].isset">2</option>         | GESETZTE ABITURFÄCHER |
              <option value="3" *ngIf="this.abiFachBesetzt[2].isset">3</option>         |      AUSBLENDEN       |
              <option value="4" *ngIf="this.abiFachBesetzt[3].isset">4</option> -->
              <option value="1">1</option>
              <option value="2">2</option>         
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
