<div id="subjecttable-wrapper">
  <table id="subjecttable" class="centered">
    <thead>
    <tr>
      <th style="width: 25%" class="thick-border-right">Fach</th>
      <th style="width: 10%">EF.1</th>
      <th style="width: 10%" class="thick-border-right">EF.2</th>
      <th style="width: 10%">Q1.1</th>
      <th style="width: 10%">Q1.2</th>
      <th style="width: 10%">Q2.1</th>
      <th style="width: 10%" class="thick-border-right">Q2.2</th>
      <th>Abifächer</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let fach of lupoService.abpDatabase.ABP_Faecher">
      <td class="thick-border-right">{{fach.Bezeichnung}}</td>
      <td>
        <select id="subjchoice-0-EF-1">
          <option value="" disabled selected> </option>
          <option value="M">M</option>
          <option value="S">S</option>
        </select>
      </td>
      <td class="thick-border-right">
        <select id="subjchoice-0-EF-2">
          <option value="" disabled selected> </option>
          <option value="M">M</option>
          <option value="S">S</option>
        </select>
      </td>
      <td>
        <select id="subjchoice-0-Q1-1">
          <option value="" disabled selected> </option>
          <option value="M">M</option>
          <option value="S">S</option>
          <option value="LK">LK</option>
        </select>
      </td>
      <td>
        <select id="subjchoice-0-Q1-2">
          <option value="" disabled selected> </option>
          <option value="M">M</option>
          <option value="S">S</option>
          <option value="LK">LK</option>
        </select>
      </td>
      <td>
        <select id="subjchoice-0-Q2-1" onchange="onSubjectChoiceChanged('Q2-1', 'subjchoice-0-Q2-1')">
          <option value="" disabled selected> </option>
          <option value="M">M</option>
          <option value="S">S</option>
          <option value="LK">LK</option>
        </select>
      </td>
      <td class="thick-border-right">
      </td>
      <td>
        <select id="abichoice-0">
          <option value="0" selected> </option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </td>
    </tr>
    </tbody>
  </table>
</div>
