<main>
  <div id="subjecttable-wrapper">
      <table id="subjecttable">
          <thead>
            <tr>
                <th>Fach</th>
                <th>EF.1</th>
                <th>EF.2</th>
                <th>Q1.1</th>
                <th>Q1.2</th>
                <th>Q2.1</th>
                <th>Q2.2</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Alvin</td>
              <td>Eclair</td>
              <td>$0.87</td>
            </tr>
            <tr>
              <td>Alan</td>
              <td>Jellybean</td>
              <td>$3.76</td>
            </tr>
            <tr>
              <td>Jonathan</td>
              <td>Lollipop</td>
              <td>$7.00</td>
            </tr>
          </tbody>
        </table>
  </div>
</main>
<footer>

</footer>
<div id="modal-wrapper">
  <div id="modal-upload" class="modal">
    <div class="modal-content">
      <h4 class="modal-title"></h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
</div>
