<main>
	<div id="subjecttable-wrapper">
		<table id="subjecttable" class="centered">
			<thead>
				<tr>
					<th style="width: 25%" class="thick-border-right">Fach</th>
					<th style="width: 10%">EF.1</th>
					<th style="width: 10%" class="thick-border-right">EF.2</th>
					<th style="width: 10%">Q1.1</th>
					<th style="width: 10%">Q1.2</th>
					<th style="width: 10%">Q2.1</th>
					<th style="width: 10%" class="thick-border-right">Q2.2</th>
					<th>Abifächer</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td class="thick-border-right">Englisch</td>
					<td> 
						<select>
							<option value="" disabled selected> </option>
							<option value="M">M</option>
							<option value="S">S</option>
							<option value="LK">LK</option>
						</select>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</main>
<footer>

</footer>
<div id="modal-wrapper">
  <app-modal-upload></app-modal-upload>
</div>
