/* You can add global styles to this file, and also import other style files */
@import "assets/materialize.scss";
body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
.subjecttable-wrapper {
  .select-wrapper input.select-dropdown {
    border-bottom: none;
  }
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  @extend .white;
  height: 25vh;
}
main {
  height: 75vh;
  overflow: auto;
}

